@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/node_modules/mouse-follower/src/scss/index.scss";

@font-face {
  font-family: "customFont";
  src: url("../../public/fonts/sft-schrifted-sans-font-family-1697519383-0/SFT-Schrifted-Sans-TRIAL-Var-BF6413e215ec95b.ttf")
    format("ttf");
}

body {
  background-color: black;
  overflow-x: hidden;
  font-family: "customFont" !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
