@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    overflow-x: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}